@charset "UTF-8";

@font-face {
    font-family: 'MainFont';
    src: url(../Fontes/MozillaText-VariableFont_wght.ttf) format(truetype);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #87c9ff, #afd6f7);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'MainFont', Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-start;
    overflow: hidden;
    gap: 18px;
}

div#imagemTitulo {
    height: 100%;
    height: 500px;
    width: 100%;
    max-width: 450px;
    background: rgba(163, 84, 209, 0.418) url(../Imgs/ImagemTitulo.jpg) left center/ 26% auto repeat-x fixed;
    box-sizing: border-box;
}

h1#titulo {
    font: normal bold 3.9em Arial, Helvetica, sans-serif;
    line-height: 75px;
    padding-left: 14%;
    height: 100%;
    background-image: radial-gradient(#7536db4f 0%, #7d3aca94 104%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.336);
    word-spacing: 106px;
}

div#conteudoCampo {
    padding: 10px 10px 10px 0px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

h2 {
    align-self: center;
    font-size: 2em;
}

p {
    font-size: 1.1em;
    line-height: 25px;
}

form#formularioCamp {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    gap: 10px;
}

label {
    font-size: 1em;
    font-weight: 500;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.527);
}

input[type=submit] {
    align-self: flex-end;
    width: 100%;
    max-width: 100px;
    border: 1px solid transparent;
    background-color: #549e45;
    color: #fff;
    border-radius: 5px;
    padding: 7px 5px;
    font-size: 1.1em;
    margin-top: 10px;
    margin-right: 20px;
}
